<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CRFMoreViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>MYSETTING_LOGOUT_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>安全退出</string>
				<key>CRFLoggingFuncName</key>
				<string>安全退出</string>
				<key>CRFLoggingSelectorName</key>
				<string>logout</string>
			</dict>
		</array>
	</dict>
	<key>CRFLoginViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>LOGIN_SURE_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>登录页登录</string>
				<key>CRFLoggingFuncName</key>
				<string>登录页登录</string>
				<key>CRFLoggingSelectorName</key>
				<string>crfGetLogin:</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>LOGIN_FORGET_PASSWORD_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>登录页忘记密码</string>
				<key>CRFLoggingFuncName</key>
				<string>登录页忘记密码</string>
				<key>CRFLoggingSelectorName</key>
				<string>crf_pushForgetVC</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>LOGIN_REGISTER_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>登录页快速注册</string>
				<key>CRFLoggingFuncName</key>
				<string>登录页快速注册</string>
				<key>CRFLoggingSelectorName</key>
				<string>crf_pushRegisterVC</string>
			</dict>
		</array>
	</dict>
	<key>CRFCheckoutLoginVC</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>LOGIN_CHECKOUT_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>更换设备验证页验证按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>更换设备验证页验证按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>checkCode</string>
			</dict>
		</array>
	</dict>
	<key>CRFRegisterViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>REGISTER_PROTOCOL_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>注册页协议</string>
				<key>CRFLoggingFuncName</key>
				<string>注册页协议</string>
				<key>CRFLoggingSelectorName</key>
				<string>crf_protocolEvent:</string>
			</dict>
		</array>
	</dict>
	<key>CRFCreateAccountViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>OPEN_ACCOUNT_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>开户按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>开户按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>createAccount</string>
			</dict>
		</array>
	</dict>
	<key>CRFRelateAccountViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>ASSOCIATED_ACCOUNT_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>开户验证并关联</string>
				<key>CRFLoggingFuncName</key>
				<string>开户验证并关联</string>
				<key>CRFLoggingSelectorName</key>
				<string>verifyUser:</string>
			</dict>
		</array>
	</dict>
	<key>CRFRechargeViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>RECHARGE_RECORD_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>充值记录按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>充值记录按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>rechargeRecord</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>LARGE_RECHARGE_GUIDE_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>大额充值指南</string>
				<key>CRFLoggingFuncName</key>
				<string>大额充值指南</string>
				<key>CRFLoggingSelectorName</key>
				<string>setAppCountManager</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>RECHARGE_GETCODE_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>充值页获取验证码</string>
				<key>CRFLoggingFuncName</key>
				<string>充值页获取验证码</string>
				<key>CRFLoggingSelectorName</key>
				<string>sendVerifyCode</string>
			</dict>
		</array>
	</dict>
	<key>CRFHomePageViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>HOME_HEADICON_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>首页头像</string>
				<key>CRFLoggingFuncName</key>
				<string>首页头像</string>
				<key>CRFLoggingSelectorName</key>
				<string>userInfo:</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>HOME_PLUS_SIGN_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>首页【+】按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>首页【+】按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>more:</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>HOME_ANNOUNCEMENT_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>首页公告</string>
				<key>CRFLoggingFuncName</key>
				<string>首页公告</string>
				<key>CRFLoggingSelectorName</key>
				<string>activityDidSelected:</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>HOME_SCAN_MORE_PRODUCT_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>查看更多计划</string>
				<key>CRFLoggingFuncName</key>
				<string>查看更多计划</string>
				<key>CRFLoggingSelectorName</key>
				<string>lookupMore</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>HOME_OLDUSER_PRODUCT_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>下拉刷新查看资产数据</string>
				<key>CRFLoggingFuncName</key>
				<string>下拉刷新查看资产数据</string>
				<key>CRFLoggingSelectorName</key>
				<string>tableView:didSelectRowAtIndexPath:</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>HOME_SUSPEND_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>首页悬浮框</string>
				<key>CRFLoggingFuncName</key>
				<string>首页悬浮框</string>
				<key>CRFLoggingSelectorName</key>
				<string>tapGesture</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>HOME_AD_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>首页广告弹框</string>
				<key>CRFLoggingFuncName</key>
				<string>首页广告弹框</string>
				<key>CRFLoggingSelectorName</key>
				<string>pushAdDetail:</string>
			</dict>
		</array>
	</dict>
	<key>CRFDiscoveryViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>DISCOVER_MORE_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>发现更多</string>
				<key>CRFLoggingFuncName</key>
				<string>发现更多</string>
				<key>CRFLoggingSelectorName</key>
				<string>crf_pushList</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>DISCOVER_SERVICES_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>发现客服</string>
				<key>CRFLoggingFuncName</key>
				<string>发现客服</string>
				<key>CRFLoggingSelectorName</key>
				<string>btnClick</string>
			</dict>
		</array>
	</dict>
	<key>CRFMineHeaderView</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string> MINE_SECRET_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>开启关闭隐私保护眼睛</string>
				<key>CRFLoggingFuncName</key>
				<string>开启关闭隐私保护眼睛</string>
				<key>CRFLoggingSelectorName</key>
				<string>changedSecret:</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>MINE_HEADICON_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>我页个人头像，名字</string>
				<key>CRFLoggingFuncName</key>
				<string>我页个人头像，名字</string>
				<key>CRFLoggingSelectorName</key>
				<string>tap:</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>MINE_RECHARGE_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>我页充值</string>
				<key>CRFLoggingFuncName</key>
				<string>我页充值</string>
				<key>CRFLoggingSelectorName</key>
				<string>recharge</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>MINE_ROLLOUT_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>我页提现</string>
				<key>CRFLoggingFuncName</key>
				<string>我页提现</string>
				<key>CRFLoggingSelectorName</key>
				<string>transformMoney</string>
			</dict>
		</array>
	</dict>
	<key>CRFInvestStatusViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>MINE_INVEST_STIRUP_LEAVEBTN</string>
				<key>CRFLoggingEventName</key>
				<string>退出触发按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>退出触发按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>operaIn:</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>MINE_INVEST_STIRUP_TRANSFERBTN</string>
				<key>CRFLoggingEventName</key>
				<string>转投触发按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>转投触发按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>operaOut:</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>MYINVEST_SELECT_PRODUCT_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>选择转投目标产品</string>
				<key>CRFLoggingFuncName</key>
				<string>选择转投目标产品</string>
				<key>CRFLoggingSelectorName</key>
				<string>chooseMoreProduct</string>
			</dict>
		</array>
	</dict>
	<key>CRFRedeemView</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>MINE_INVEST_SURE_LEAVEBTN</string>
				<key>CRFLoggingEventName</key>
				<string>退出确定按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>退出确定按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>logout:</string>
			</dict>
		</array>
	</dict>
	<key>CRFSwitchView</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>MINE_INVEST_SURE_TRANSFER</string>
				<key>CRFLoggingEventName</key>
				<string>转投确定按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>转投确定按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>doDelegateFunc:</string>
			</dict>
		</array>
	</dict>
	<key>CRFOperationCell</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>INVEST_DETAILS_AGREEMENT_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>（出借同意协议按钮）</string>
				<key>CRFLoggingFuncName</key>
				<string>（出借同意协议按钮）</string>
				<key>CRFLoggingSelectorName</key>
				<string>potoclAgreement:</string>
			</dict>
		</array>
	</dict>
	<key>CRFFeedbackViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>FEEDBACK_SUBMIT_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>意见反馈提交</string>
				<key>CRFLoggingFuncName</key>
				<string>意见反馈提交</string>
				<key>CRFLoggingSelectorName</key>
				<string>commit:</string>
			</dict>
		</array>
	</dict>
	<key>CRFInvestOperaStatusViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>MINE_INVEST_PRODUCT_DETAIL</string>
				<key>CRFLoggingEventName</key>
				<string>转投申请反馈页面的【查看详情】按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>转投申请反馈页面的【查看详情】按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>lookupDetail:</string>
			</dict>
		</array>
	</dict>
	<key>CRFRechargeSuccessViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string> RECHARGE_SUCCESS_GOINVESTBTN</string>
				<key>CRFLoggingEventName</key>
				<string>充值成功去投资按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>充值成功去投资按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>goHome:</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string> RECHARGE_SUCCESS_CONTINUEBTN</string>
				<key>CRFLoggingEventName</key>
				<string>充值成功继续充值按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>充值成功继续充值按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>rechargeContinue:</string>
			</dict>
		</array>
	</dict>
	<key>CRFStarPlayViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>WELCOME_VIDEO_JUMP_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>视频的跳过按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>视频的跳过按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>chickEnterButton</string>
			</dict>
		</array>
	</dict>
	<key>CRFModifyPwdViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>MODIFYPWD_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>修改登录密码确定</string>
				<key>CRFLoggingFuncName</key>
				<string>修改登录密码确定</string>
				<key>CRFLoggingSelectorName</key>
				<string>btnConfirmClick</string>
			</dict>
		</array>
	</dict>
	<key>CRFEditAddressViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>ADDRESS_SAVE_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>保存收货地址</string>
				<key>CRFLoggingFuncName</key>
				<string>保存收货地址</string>
				<key>CRFLoggingSelectorName</key>
				<string>save</string>
			</dict>
		</array>
	</dict>
	<key>CRFRollOutViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>ROLLOUT_RECORD_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>提现记录</string>
				<key>CRFLoggingFuncName</key>
				<string>提现记录</string>
				<key>CRFLoggingSelectorName</key>
				<string>rolloutRecord</string>
			</dict>
			<dict>
				<key>CRFLoggingEventID</key>
				<string> ROLLOUT_GETCODE_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>提现获取验证码</string>
				<key>CRFLoggingFuncName</key>
				<string>提现获取验证码</string>
				<key>CRFLoggingSelectorName</key>
				<string>sendCode:</string>
			</dict>
		</array>
	</dict>
	<key>CRFNewInvestListViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>INVEST_LIST_SPECIAL_PLAN_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>产品列表特供计划</string>
				<key>CRFLoggingFuncName</key>
				<string>产品列表特供计划</string>
				<key>CRFLoggingSelectorName</key>
				<string>exclusiveplanTap</string>
			</dict>
		</array>
	</dict>
	<key>CRFOpenAccountStatusViewController</key>
	<dict>
		<key>CRFLoggingTrackedEvents</key>
		<array>
			<dict>
				<key>CRFLoggingEventID</key>
				<string>OPEN_ACCOUNT_RECHARGE_EVENT</string>
				<key>CRFLoggingEventName</key>
				<string>开户成功去充值按钮</string>
				<key>CRFLoggingFuncName</key>
				<string>开户成功去充值按钮</string>
				<key>CRFLoggingSelectorName</key>
				<string>recharge:</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
